---
import BlogCard from '@/components/BlogCard.astro'
import Link from '@/components/Link.astro'
import PageHead from '@/components/PageHead.astro'
import ProjectCard from '@/components/ProjectCard.astro' // or whatever your coding card is
import { buttonVariants } from '@/components/ui/button'
import Layout from '@/layouts/Layout.astro'
import { getAllTags, getPostsByTag } from '@/lib/data-utils'

export async function getStaticPaths() {
  const tagMap = await getAllTags()
  const uniqueTags = Array.from(tagMap.keys())

  return Promise.all(
    uniqueTags.map(async (tag) => {
      const posts = await getPostsByTag(tag)
      return {
        params: { id: tag },
        props: {
          tag,
          posts,
        },
      }
    }),
  )
}

const { tag, posts } = Astro.props
---

<Layout class="max-w-3xl">
  <PageHead
    slot="head"
    title={`posts tagged with "${tag}"`}
    description={`A collection of posts tagged with ${tag}.`}
    noindex
  />

  <div class="flex w-full items-center justify-between">
    <div class="mb-2 text-3xl font-semibold">
      {tag}
    </div>
    <div class="text-right">
      <Link
        href="/tags"
        class={buttonVariants({ variant: 'ghost', size: 'sm' }) +
          ' group/link relative z-10 text-xs sm:text-sm'}
      >
        back to all tags
        <span
          class="ml-1.5 transition-transform group-hover/link:translate-x-1"
        >
          &rarr;
        </span>
      </Link>
    </div>
  </div>

  <ul class="flex flex-col gap-y-4">
    {
      posts.map((post) => (
        <li>
          {post.collection === 'blog' ? (
            <BlogCard entry={post} />
          ) : post.collection === 'coding' ? (
            <ProjectCard coding={post} />
          ) : null}
        </li>
      ))
    }
  </ul>
</Layout>
