---
import { getPhotoCount } from '@/lib/media-utils'
import { formatDate } from '@/lib/utils'
import { Icon } from 'astro-icon/components'
import { Image } from 'astro:assets'
import type { CollectionEntry } from 'astro:content'
import Link from './Link.astro'
import { Badge } from './ui/badge'

type Props = {
  collection: CollectionEntry<'media'>
}

const { collection } = Astro.props as {
  collection: CollectionEntry<'media'>
}

const formattedDate = collection.data.date
  ? formatDate(collection.data.date)
  : ''
const displayDate = collection.data.period

// Get photo count using the utility function
const photoCount = await getPhotoCount(collection.id)
---

<div
  class="not-prose bg-primary-foreground/70 hover:bg-primary-foreground border transition-all duration-300 ease-in-out"
>
  <div class="group flex flex-col gap-4">
    {
      collection.data.image && (
        <Link
          href={`/${collection.collection}/${collection.id}`}
          class="w-full sm:flex-shrink-0"
        >
          <Image
            src={collection.data.image}
            alt={collection.data.name}
            width={600}
            height={338}
            class="h-full w-full border-b object-cover grayscale transition-all group-hover:grayscale-0"
            quality="medium"
          />
        </Link>
      )
    }
    <div class="flex-grow p-4 pt-0">
      <Link href={`/${collection.collection}/${collection.id}`}>
        <h3 class="mb-1 text-lg font-semibold">
          {collection.data.name}
        </h3>

        <div
          class="text-muted-foreground mb-2 flex flex-wrap items-center gap-x-2 text-xs"
        >
          <span>{displayDate}</span>
          <span class="text-muted-foreground">|</span>
          <span>{photoCount} photos</span>
        </div>

        <p class="text-muted-foreground line-clamp-3 text-sm">
          {collection.data.description}
        </p>
      </Link>

      {
        collection.data.tags && Astro.url.pathname.startsWith('/tags/') && (
          <div class="mt-2 flex flex-wrap gap-2">
            {collection.data.tags.map((tag: string) => (
              <Link href={`/tags/${tag}`} class="lowercase">
                <Badge variant="muted">
                  <Icon name="lucide:hash" class="size-3" />
                  {tag}
                </Badge>
              </Link>
            ))}
          </div>
        )
      }
    </div>
  </div>
</div>
